Source: ros-melodic-mav-comm
Section: misc
Priority: extra
Maintainer: Rik Bähnemann <brik@ethz.ch>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: https://github.com/ethz-asl/mav_comm
Standards-Version: 3.9.2

Package: ros-melodic-mav-comm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-mav-msgs, ros-melodic-mav-planning-msgs
Description: Contains messages and services for MAV communication
