Source: ros-kinetic-mav-planning-msgs
Section: misc
Priority: extra
Maintainer: Helen Oleynikova <helen.oleynikova@mavt.ethz.ch>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-geometry-msgs, ros-kinetic-mav-msgs, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-trajectory-msgs
Homepage: https://github.com/ethz-asl/mav_comm
Standards-Version: 3.9.2

Package: ros-kinetic-mav-planning-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-kinetic-cmake-modules, ros-kinetic-geometry-msgs, ros-kinetic-mav-msgs, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-trajectory-msgs
Description: Messages specific to MAV planning, especially polynomial planning.
